requests==2.31.0
azure-cosmos==4.6.0
aiohttp==3.11.11
openai==1.58.1
fastapi==0.115.3
uvicorn==0.23.2
pydantic==2.10.1
opentelemetry-instrumentation-fastapi==0.50b0
workalendar
langchain_text_splitters
bs4